<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>


    <header class="detail-header">
        <a href="/" class="home-link">
            <img src="/static/img/logo.png" alt="Логотип Qu Catalog App">
        </a>
    </header>

    <h1>Каталог квантов</h1>

    <ul>
        {% for quantum in quantums %}
        <li>
            <a href="/quantum/{{ quantum.id }}">
                <img src="{{ quantum.image_url }}" alt="{{ quantum.title }}" class="quantum-image">
                <h2>{{ quantum.title }}</h2>
            </a>
            <p>Угол по Х: {{ quantum.angle_X }} градусов.</p>
            <p>Угол по Y: {{ quantum.angle_Y }} градусов.</p>
            <h3>{{ quantum.description }}</h3>
        </li>
        {% endfor %}
    </ul>
</body>
</html>