<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ quantum.title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="detail-page-body">

    <header class="detail-header">
        <a href="/" class="home-link">
            <img src="/static/img/logo.png" alt="Логотип Qu Catalog App">
        </a>
    </header>


    <main class="video-layout">
        <div class="tiktok-container">
            <video autoplay loop muted playsinline>
                <source src="{{ quantum.video_url }}" type="video/mp4">
            </video>

            <div class="description-overlay">
                <strong>{{ quantum.title }}</strong><br>
                {{ quantum.description }}
            </div>
        </div>
    </main>

</body>
</html>